In [3]:
# Program to handle categorial 
import numpy as np
import pandas as pd              
import category_encoders as ce   
from sklearn.preprocessing import LabelEncoder

pd.options.display.float_format = '{:.2f}'.format # to make legible

In [4]:
# make some data
df = pd.DataFrame({
    'color':["red", "blue", "red", "yellow", "blue", "red"]})

<h3><b>Classic Encoders</h3>

In [7]:
print(df)

le = LabelEncoder()
encoded = le.fit_transform(np.ravel(df['color']))

print("\n The result after LabelEncoder: ")
print(encoded)

    color
0     red
1    blue
2     red
3  yellow
4    blue
5     red

 The result after LabelEncoder:
[1 0 1 2 0 1]

<h3><b>Ordinal</h3>

In [10]:
ce_ord = ce.OrdinalEncoder()
ce_ord.fit_transform(df)

   color
0      1
1      2
2      1
3      3
4      2
5      1

<h3><b>One-Hot</h3>

In [11]:
ce_one_hot = ce.OneHotEncoder()
ce_one_hot.fit_transform(df['color'])

   color_1  color_2  color_3
0        1        0        0
1        0        1        0
2        1        0        0
3        0        0        1
4        0        1        0
5        1        0        0

<h3><b>Binary</h3>

In [12]:
ce_one_hot = ce.BinaryEncoder()
ce_one_hot.fit_transform(df['color'])

   color_0  color_1  color_2
0        0        0        1
1        0        1        0
2        0        0        1
3        0        1        1
4        0        1        0
5        0        0        1

<h3><b>BaseN</h3>

In [20]:
ce_basen = ce.BaseNEncoder(cols = ['color'],base=2)
ce_basen.fit_transform(df)

   color_0  color_1  color_2
0        0        0        1
1        0        1        0
2        0        0        1
3        0        1        1
4        0        1        0
5        0        0        1